<section class="reviews">
  <div class="reviews__wrapper slider">
    <h2 class="reviews__title">
      Отзывы о нас
    </h2>
    <a href="#" class="reviews__write button">
      Оставить свой
    </a>
    <div class="reviews__list slider__list">
      <blockquote class="reviews__item slider__item">
        <p class="reviews__author-picture">
          <img src="" alt="" class="reviews__author-image">
        </p>
        <cite class="reviews__author-name">
          Трэвис Баркер
        </cite>
        <p class="reviews__text">
          Спасибо за лысину! Был проездом в Москве, заскочил побриться,
          чтобы было видно новую татуировку!
        </p>
      </blockquote>
      <blockquote class="reviews__item slider__item">
        <p class="reviews__author-picture">
          <img src="" alt="" class="reviews__author-image">
        </p>
        <cite class="reviews__author-name">
          Трэвис Баркер
        </cite>
        <p class="reviews__text">
          Спасибо за лысину! Был проездом в Москве, заскочил побриться,
          чтобы было видно новую татуировку!
        </p>
      </blockquote>
      <blockquote class="reviews__item slider__item">
        <p class="reviews__author-picture">
          <img src="" alt="" class="reviews__author-image">
        </p>
        <cite class="reviews__author-name">
          Иван Бородайло
        </cite>
        <p class="reviews__text">
          В Бородинском ваша борода в надёжных руках!
        </p>
      </blockquote>
      <button class="reviews__prev" type="button">
        Предыдущий отзыв
      </button>
      <button class="reviews__next" type="button">
        Слудующий отзыв
      </button>
    </div>
    <p class="review__toggles slider__toggles">
      <button class="slider__toggle" type="button">
        1
      </button>
      <button class="slider__toggle" type="button">
        2
      </button>
      <button class="slider__toggle" type="button">
        3
      </button>
    </p>
  </div>

</section>