<section class="stats">
  <header class="stats__header">
    <h2 class="visually-hidden">
      Статистика Барбершопа
    </h2>
    <b class="stats__slogan">
      Стрижка у нас это выгодно!
      </и>
      <p class="stats__intro">
        Мужская стрижка требует точного подхода. Обратимся к статистике:
      </p>
      <small class="stats__legend stats__legend--top">
        <sup>*</sup> — приведённые данные ложь
      </small>
  </header>

  <table class="main__list stats">
    <tr>
      <td class="stats__item">
        <span class="stats__value">
          1&nbsp;500 <sup>*</sup>
        </span>
      </td>
      <td class="stats__text">
        рублей<br> вложений
      </td>
    </tr>
    <tr>
      <td class="stats__item">
        <span class="stats__value">
          7&nbsp;200
        </span>
      </td>
      <td class="stats__text">
        секунд<br> времени мастера
      </td>
    </tr>
    <tr>
      <td class="stats__item">
        <span class="stats__value">
          90&nbsp;000 <sup>*</sup>
        </span>
      </td>
      <td class="stats__text">
        постриженных<br> волос
      </td>
    </tr>
    <tr>
      <td class="stats__item">
        <span class="stats__value">
          500&nbsp;000 <sup>*</sup>
        </span>
      </td>
      <td class="stats__text">
        лайков и<br> комплиментов
      </td>
    </tr>
  </table>
  <small class="stats__legend stats__legend--bottomg">
    <sup>*</sup> — приведённые данные ложь
  </small>
</section>