<footer class="footer">
  <div class="footer_wrapper">
    <div class="footer__contacts contacts">

      <b class="contacts__title">
        Барбершоп «Бородинский»
      </b>
      <p class="contacts__text">
        г. Санкт-Петербург, ул. Большая Конюшенная 19/8<br>
        <a href="tel:+380665556666" class="contacts__phone">
          <span class="contacts__phone-mobile">
            Тел.:
          </span>
          +38 (066) 555-66-66

        </a>
      </p>

    </div>
    <div class="footer__social social">
      <ul class="social__list">
        <li class="social__item">
          <a href="#" class="social__link social__link--vkontakte">
            Мы в Вконтакте
          </a>
        </li>
        <li class="social__item">
          <a href="#" class="social__link social__link--facebook">
            Мы в Фейсбуке
          </a>
        </li>
        <li class="social__item">
          <a href="#" class="social__link social__link--instagram">
            Мы в Инстаграме
          </a>
        </li>
      </ul>
    </div>
    <div class="footer__copyright copyright">
      <b class="copyright__text">
        Разработано:
      </b>
      <a href="#" class="button copyright__link">
        HTML Academy
      </a>
    </div>
  </div>

</footer>