<header class="page-header">
  
    <a href="#" class="page-header__logo">
      <img src="../img/logotype-mobile.png" alt="Барбершоп «Бородинский»" class="page-header__logo-image" width="226" height="32">
    </a>
    <nav class="main-nav main-nav--closed">
      <button class="main-nav__toggle" type="button">
        <span class="visually-hidden">
          Открыть меню
        </span>
      </button>
      <div class="main-nav__wrapper">
        <ul class="main-nav__list site-list">
          <li class="site-list__item">
            <a>
              Главная
            </a>
          </li>
          <li class="site-list__item">
            <a href="photo.html">
              Наши работы
            </a>
          </li>
          <li class="site-list__item">
            <a href="form.html">
              Записаться
            </a>
          </li>
          <li class="site-list__item">
            <a href="#">
              Контакты
            </a>
          </li>
          <li class="site-list__item">
            <a href="#">
              HTML Academy
            </a>
          </li>
        </ul>
        <ul class="main__nav__list user-list">
          <li class="user-list__item site-list__item--active">
            <a class="user-list__login" href="login.html">Войти</a>
            <button class="main-nav__button">
              
            </button>
          </li>
        </ul>
      </div>
      
    </nav>
</header>
